.container {
	margin-top: 20px;
	margin-bottom: 20px;
}

.email {
	font-size: medium;
	margin-top: 10px;
	margin-bottom: 10px;
}

.time {
	font-size: medium;
	margin-top: 10px;
	margin-bottom: 10px;
}
